//fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
$font: 'Roboto', sans-serif;
//colors
$bgBody: #202124;
$bgNote: #313235;
$txtColor: #FFFFFF;
$iconColor: #929295;
