//fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
$font: 'Roboto', sans-serif;
//colors
$bgBody: #202124;
$bgForm: #313235;
$bgNote: #6e6e6e;
$txtColor: #FFFFFF;
$iconColor: #929295;
$bgNoteDetail:#202124c7; 
