* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    position: relative;
    min-height: 100%
}
@import './vars';
@import './mainNote';
@import './media';
@import './noteDetail';